body.pre {
  --text: #888;
  --link: #888;
  --body-bg: #888;
  --app-bg: #888;
  --accent: #888;
}

body.dark {
  --text: white;
  --link: yellow;
  --body-bg: black;
  --app-bg: black;
  --accent: #060028;
}

body.light {
  --text: black;
  --link: #000;
  --body-bg: #ddd;
  --app-bg: white;
  --accent: yellow;
}

body > * {
  transition: color, background 0.25s ease;
}
