.appContainer.dark {
  --text: white;
  --link: hsl(0, 100%, 60%);
  --body-bg: black;
  --app-bg: black;
  --accent: #060028;
}
.appContainer.light {
  --text: black;
  --link: #000;
  --body-bg: #ddd;
  --app-bg: white;
  --accent: yellow;
}
.appContainer.preload {
  --text: #444;
  --link: #444;
  --body-bg: #444;
  --app-bg: #444;
  --accent: #444;
}

.appContainer > * {
  transition: color, background 0.25s ease;
}
