@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/always-grey.png');
    background-size: 24px;
    background-repeat: repeat;
    height: 100vh;
    background-color: theme("colors.slate.800")
}

#root {
    background-image: url('/asfalt-dark.png');
    background-size: 128px;
    background-repeat: repeat;
}