---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
---

<BaseLayout>
    <main class="relative w-full h-full">
        <article class="flex flex-col lg:flex-row gap-16 justify-between">
            <section class="lg:max-w-[50%] flex flex-col gap-4 h-fit">
                <h1 class={"text-4xl font-semibold"}>Charlie Thomson</h1>
                <p class="text-lg">I build things</p>
                <p class="text-lg">
                    I work for&nbsp;
                    <a
                        href="https://velera.com"
                        target="_blank"
                        class="font-medium text-cyan-700 dark:text-cyan-300 dark:hover:text-cyan-100 transition-all"
                    >
                        Velera</a
                    >, primarily writing C# and React, currently focused on
                    DevOps.&nbsp;
                    <a
                        href="/experience"
                        class="font-medium text-cyan-700 dark:text-cyan-300 dark:hover:text-cyan-100 transition-all"
                    >
                        Read more about my experience
                    </a>
                </p>
                <p class="text-lg">
                    I&apos;m working on some side projects as well 😁
                </p>
            </section>
            <section class="lg:max-w-[45%] flex flex-col gap-8">
                <h3 class="lg:text-right text-4xl font-extralight">Things</h3>
                <span class="w-full lg:text-right text-lg font-extralight">
                    hmmm... there doesn&apos;t seem to be anything here yet?
                </span>
            </section>
            <section
                id="links"
                class="absolute left-0 bottom-0 flex gap-4 w-full"
            >
                <a
                    target="_blank"
                    href="https://github.com/charliethomson"
                    class="flex size-12 items-center justify-center rounded-xl text-2xl text-slate-400 transition-all hover:bg-slate-300 hover:bg-opacity-40 hover:text-slate-600 dark:hover:text-slate-200 dark:hover:bg-slate-700 dark:hover:bg-opacity-40"
                >
                    <Icon name="mingcute:github-fill" class="not-sr-only" />
                    <span class="sr-only">github</span>
                </a>
                <a
                    target="_blank"
                    href="https://twitter.com/poetayetoe"
                    class="flex size-12 items-center justify-center rounded-xl text-2xl text-slate-400 transition-all hover:bg-slate-300 hover:bg-opacity-40 hover:text-slate-600 dark:hover:text-slate-200 dark:hover:bg-slate-700 dark:hover:bg-opacity-40"
                >
                    <Icon name="mingcute:twitter-fill" class="not-sr-only" />
                    <span class="sr-only">twitter</span>
                </a>
                <a
                    target="_blank"
                    href="https://www.linkedin.com/in/charliecthomson/"
                    class="flex size-12 items-center justify-center rounded-xl text-2xl text-slate-400 transition-all hover:bg-slate-300 hover:bg-opacity-40 hover:text-slate-600 dark:hover:text-slate-200 dark:hover:bg-slate-700 dark:hover:bg-opacity-40"
                >
                    <Icon name="mingcute:linkedin-fill" class="not-sr-only" />
                    <span class="sr-only">linkedin</span>
                </a>
                <a
                    target="_blank"
                    href="mailto:charlie@thmsn.dev"
                    class="flex size-12 items-center justify-center rounded-xl text-2xl text-slate-400 transition-all hover:bg-slate-300 hover:bg-opacity-40 hover:text-slate-600 dark:hover:text-slate-200 dark:hover:bg-slate-700 dark:hover:bg-opacity-40"
                >
                    <Icon name="mingcute:mail-fill" class="not-sr-only" />
                    <span class="sr-only">mail</span>
                </a>

                <div
                    id="btn-theme"
                    role="button"
                    class={"absolute right-0 cursor-pointer size-12 items-center justify-center rounded-xl text-2xl text-slate-400 " +
                        "transition-all hover:bg-slate-300 hover:bg-opacity-40 hover:text-slate-600 dark:hover:text-slate-200 dark:hover:bg-slate-700 dark:hover:bg-opacity-40 " +
                        "hidden sm:flex"}
                >
                    <Icon
                        name="mingcute:sun-fill"
                        class="not-sr-only absolute opacity-0 dark:opacity-100 transition-all"
                    />
                    <Icon
                        name="mingcute:moon-fill"
                        class="not-sr-only absolute opacity-1 dark:opacity-0 transition-all"
                    />

                    <span class="sr-only">Toggle theme</span>
                </div>
            </section>
        </article>
    </main>
</BaseLayout>

<script>
    import { toggleTheme } from "../scripts/theme.mjs";

    const btn = document.querySelector<HTMLDivElement>("div#btn-theme");
    if (btn) {
        btn.onclick = toggleTheme;
    }
</script>
