---
export type Props = {
  tags: string[];
};
let { tags } = Astro.props;
---

{
  tags.length > 0 && (
    <div class="flex gap-2">
      {tags.map((tag) => (
        <span class="text-xs text-neutral-600 dark:text-neutral-400 bg-neutral-300 dark:bg-neutral-700 px-2 py-0.5 h-fit">
          {tag}
        </span>
      ))}
    </div>
  )
}
