---
import "@fontsource-variable/nunito";
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body
        class={"xs:px-4 xs:py-4 flex w-screen items-center bg-neutral-800 dark:bg-neutral-900 justify-center " +
            "overflow-hidden px-2 py-2 pb-8 transition-all sm:px-16 sm:py-16 md:px-24 md:py-16 lg:px-32 lg:py-32"}
    >
        <article
            id="root"
            class={"h-full max-w-7xl flex-1 rounded-3xl bg-neutral-200 dark:bg-neutral-800 p-8 md:p-16 " +
                "shadow-2xl shadow-neutral-900 dark:shadow-neutral-950 text-neutral-800 dark:text-neutral-300"}
        >
            <slot />
        </article>
        <footer class="absolute bottom-1 flex gap-8">
            <span
                class="lowercase text-neutral-400 dark:text-neutral-700 flex items-center gap-1 tracking-wide"
            >
                made with
                <span class="before:content-['â¤ï¸'] dark:before:content-['ðŸ–¤']"
                ></span>
                in va
            </span>
        </footer>
    </body>
</html>

<style is:global>
    body {
        background-image: url("https://raw.githubusercontent.com/charliethomson/thmsn.dev/refs/heads/main/public/always-grey.webp");
        background-size: 24px;
        background-repeat: repeat;
        font-family: "Nunito Variable", sans-serif;
        height: 100dvh;
    }

    #root {
        position: relative;
    }

    #root > * {
        position: relative;
        z-index: 10;
    }

    #root::before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: "";
        border-radius: 1.5rem;
        background-image: url("https://raw.githubusercontent.com/charliethomson/thmsn.dev/refs/heads/main/public/asfalt-dark.webp");
        background-size: 128px;
        background-repeat: repeat;
        z-index: 1;
    }

    .dark #root::before {
        background-image: url("https://raw.githubusercontent.com/charliethomson/thmsn.dev/refs/heads/main/public/asfalt-lightwebp");
        filter: opacity(0.6) blur(0.1px);
    }
</style>
